<html>
    <head>
        <%- include('head'); %>   
    </head>
    <body>
        <div class="pageContainer">
            <div class="header">
                <%- include('header'); %>   
            </div>
        </div>

        <h1>This is About Page</h1>
        <h3><a href="./">Go Home Page</a></h3>
    </body>
</html>